In [1]:
from preprocess.preprocess import *
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
merger = Preprocess('./','AMZN')

merger.clean_benzinga()
merger.clean_stock()
merger.clean_macro()
merger.clean_earning()

YouTube file not found
Snapshot of benzinga data:
         date  benz_rate
0  2018-05-01     7.4444
1  2018-05-02     7.3125
2  2018-05-03     7.6667
3  2018-05-04     6.3333
4  2018-05-07     7.6667
Size:(1598, 2)
{0, 1}

Snapshot of stock data:
         date   close    volume  day   macd  macds  macdh    rsv_9  kdjk_9  \
0  2018-05-03  78.604  85038000    3 -0.014 -0.010 -0.004   61.346  59.549
1  2018-05-04  79.048  68872000    4  0.002 -0.006  0.008   82.227  67.108
2  2018-05-07  80.007  76038000    0  0.049  0.010  0.039   88.823  74.347
3  2018-05-08  79.619  61358000    1  0.060  0.024  0.036   76.104  74.932
4  2018-05-09  80.400  72746000    2  0.101  0.043  0.058  100.000  83.288

     kdjk  kdjd_9    kdjd   kdjj_9     kdjj  rs_14  rsi_14     rsi  \
0  59.549  57.162  57.162   64.322   64.322  0.205  17.043  17.043
1  67.108  60.477  60.477   80.370   80.370  1.023  50.573  50.573
2  74.347  65.100  65.100   92.839   92.839  2.928  74.545  74.545
3  74.932  68.378  68.378   88.041   88.041  1.601  61.560  61.560
4  83.288  73.348  73.348  103.169  103.169  2.584  72.101  72.101

   close_50_sma    ma50  close_200_sma   ma200    vix     TLT     IEF    SHY
0        78.734  78.734         78.734  78.734  15.90  118.81  101.63  83.22
1        78.812  78.812         78.812  78.812  14.77  118.99  101.64  83.19
2        79.051  79.051         79.051  79.051  14.75  118.80  101.59  83.19
3        79.146  79.146         79.146  79.146  14.71  118.69  101.42  83.20
4        79.325  79.325         79.325  79.325  13.42  117.98  101.19  83.16
Size:(1259, 25)
Snapshot of macro data:
         date       NFP  InterestRate  UnemploymentRate    PPI      CPI
0  2018-05-01  148755.0           1.7               3.8  203.2  250.792
1  2018-05-02  148755.0           1.7               3.8  203.2  250.792
2  2018-05-03  148755.0           1.7               3.8  203.2  250.792
3  2018-05-04  148755.0           1.7               3.8  203.2  250.792
4  2018-05-05  148755.0           1.7               3.8  203.2  250.792
Size:(1827, 6)
Snapshot of earning data:
         date  reportedEPS  estimatedEPS  surprisePct
0  1997-07-10        -0.02         -0.03      33.3333
1  1997-10-27        -0.03         -0.03       0.0000
2  1998-01-22        -0.03         -0.04      25.0000
3  1998-04-27        -0.03         -0.04      25.0000
4  1998-07-22        -0.07         -0.07       0.0000
Size:(104, 4)

In [3]:
merger.stock

,date,close,volume,day,macd,macds,macdh,rsv_9,kdjk_9,kdjk,kdjd_9,kdjd,kdjj_9,kdjj,rs_14,rsi_14,rsi,close_50_sma,ma50,close_200_sma,ma200,vix,TLT,IEF,SHY
0,2018-05-03,78.604,85038000,3,-0.014,-0.010,-0.004,61.346,59.549,59.549,57.162,57.162,64.322,64.322,0.205,17.043,17.043,78.734,78.734,78.734,78.734,15.90,118.81,101.63,83.22
1,2018-05-04,79.048,68872000,4,0.002,-0.006,0.008,82.227,67.108,67.108,60.477,60.477,80.370,80.370,1.023,50.573,50.573,78.812,78.812,78.812,78.812,14.77,118.99,101.64,83.19
2,2018-05-07,80.007,76038000,0,0.049,0.010,0.039,88.823,74.347,74.347,65.100,65.100,92.839,92.839,2.928,74.545,74.545,79.051,79.051,79.051,79.051,14.75,118.80,101.59,83.19
3,2018-05-08,79.619,61358000,1,0.060,0.024,0.036,76.104,74.932,74.932,68.378,68.378,88.041,88.041,1.601,61.560,61.560,79.146,79.146,79.146,79.146,14.71,118.69,101.42,83.20
4,2018-05-09,80.400,72746000,2,0.101,0.043,0.058,100.000,83.288,83.288,73.348,73.348,103.169,103.169,2.584,72.101,72.101,79.325,79.325,79.325,79.325,13.42,117.98,101.19,83.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2023-04-27,109.820,149961200,3,2.087,1.700,0.387,89.018,68.878,68.878,67.742,67.742,71.149,71.149,1.864,65.081,65.081,98.856,98.856,106.853,106.853,17.03,104.77,98.99,82.09
1255,2023-04-28,105.450,130565000,4,2.008,1.762,0.246,42.872,60.209,60.209,65.231,65.231,50.165,50.165,1.241,55.381,55.381,98.942,98.942,106.828,106.828,15.78,106.46,99.73,82.18
1256,2023-05-01,102.050,74728100,0,1.653,1.740,-0.087,6.969,42.463,42.463,57.642,57.642,12.105,12.105,0.970,49.233,49.233,99.020,99.020,106.785,106.785,16.08,103.13,98.32,81.81
1257,2023-05-02,103.630,73469400,1,1.481,1.688,-0.207,25.541,36.822,36.822,50.702,50.702,9.062,9.062,1.079,51.905,51.905,99.149,99.149,106.735,106.735,17.78,105.70,99.60,82.08
1258,2023-05-03,103.650,65051900,2,1.332,1.617,-0.285,25.747,33.130,33.130,44.845,44.845,9.701,9.701,1.081,51.940,51.940,99.330,99.330,106.685,106.685,18.34,106.29,100.25,82.28

In [4]:
merger.merge_table()

In [5]:
merger.combination

,date,close,volume,day,macd,macds,macdh,rsv_9,kdjk_9,kdjk,kdjd_9,kdjd,kdjj_9,kdjj,rs_14,rsi_14,rsi,close_50_sma,ma50,close_200_sma,ma200,vix,TLT,IEF,SHY,NFP,InterestRate,UnemploymentRate,PPI,CPI,benz_rate,reportedEPS,estimatedEPS,surprisePct
0,2018-05-03,78.604,85038000.0,3.0,-0.014,-0.010,-0.004,61.346,59.549,59.549,57.162,57.162,64.322,64.322,0.205,17.043,17.043,78.734,78.734,78.734,78.734,15.90,118.81,101.63,83.22,148755.0,1.70,3.8,203.200,250.792,7.475,0.16,0.06,166.6667
1,2018-05-04,79.048,68872000.0,4.0,0.002,-0.006,0.008,82.227,67.108,67.108,60.477,60.477,80.370,80.370,1.023,50.573,50.573,78.812,78.812,78.812,78.812,14.77,118.99,101.64,83.19,148755.0,1.70,3.8,203.200,250.792,6.333,0.16,0.06,166.6667
2,2018-05-07,80.007,76038000.0,0.0,0.049,0.010,0.039,88.823,74.347,74.347,65.100,65.100,92.839,92.839,2.928,74.545,74.545,79.051,79.051,79.051,79.051,14.75,118.80,101.59,83.19,148755.0,1.70,3.8,203.200,250.792,7.667,0.16,0.06,166.6667
3,2018-05-08,79.619,61358000.0,1.0,0.060,0.024,0.036,76.104,74.932,74.932,68.378,68.378,88.041,88.041,1.601,61.560,61.560,79.146,79.146,79.146,79.146,14.71,118.69,101.42,83.20,148755.0,1.70,3.8,203.200,250.792,6.600,0.16,0.06,166.6667
4,2018-05-09,80.400,72746000.0,2.0,0.101,0.043,0.058,100.000,83.288,83.288,73.348,73.348,103.169,103.169,2.584,72.101,72.101,79.325,79.325,79.325,79.325,13.42,117.98,101.19,83.16,148755.0,1.70,3.8,203.200,250.792,7.111,0.16,0.06,166.6667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2023-04-27,109.820,149961200.0,3.0,2.087,1.700,0.387,89.018,68.878,68.878,67.742,67.742,71.149,71.149,1.864,65.081,65.081,98.856,98.856,106.853,106.853,17.03,104.77,98.99,82.09,155673.0,4.83,3.4,257.381,302.918,7.833,0.31,0.21,47.6190
1255,2023-04-28,105.450,130565000.0,4.0,2.008,1.762,0.246,42.872,60.209,60.209,65.231,65.231,50.165,50.165,1.241,55.381,55.381,98.942,98.942,106.828,106.828,15.78,106.46,99.73,82.18,155673.0,4.83,3.4,257.381,302.918,7.583,0.31,0.21,47.6190
1256,2023-05-01,102.050,74728100.0,0.0,1.653,1.740,-0.087,6.969,42.463,42.463,57.642,57.642,12.105,12.105,0.970,49.233,49.233,99.020,99.020,106.785,106.785,16.08,103.13,98.32,81.81,155673.0,4.83,3.4,257.381,302.918,7.200,0.31,0.21,47.6190
1257,2023-05-02,103.630,73469400.0,1.0,1.481,1.688,-0.207,25.541,36.822,36.822,50.702,50.702,9.062,9.062,1.079,51.905,51.905,99.149,99.149,106.735,106.735,17.78,105.70,99.60,82.08,155673.0,4.83,3.4,257.381,302.918,5.429,0.31,0.21,47.6190
1258,2023-05-03,103.650,65051900.0,2.0,1.332,1.617,-0.285,25.747,33.130,33.130,44.845,44.845,9.701,9.701,1.081,51.940,51.940,99.330,99.330,106.685,106.685,18.34,106.29,100.25,82.28,155673.0,4.83,3.4,257.381,302.918,3.500,0.31,0.21,47.6190

In [6]:
merger.combination.isna().sum()

date                0
close               0
volume              0
day                 0
macd                0
macds               0
macdh               0
rsv_9               0
kdjk_9              0
kdjk                0
kdjd_9              0
kdjd                0
kdjj_9              0
kdjj                0
rs_14               0
rsi_14              0
rsi                 0
close_50_sma        0
ma50                0
close_200_sma       0
ma200               0
vix                 0
TLT                 0
IEF                 0
SHY                 0
NFP                 0
InterestRate        0
UnemploymentRate    0
PPI                 0
CPI                 0
benz_rate           0
reportedEPS         0
estimatedEPS        0
surprisePct         0
dtype: int64

In [7]:
merger.export_to_csv()